src/*.exe
src/scamcoin
src/scamcoind
src/test_scamcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.scamcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
scamcoin-qt
Scamcoin-Qt.app

# Unit-tests
Makefile.test
scamcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
